header{
    width: 100%;
    margin-bottom: 50px;
    background: #fff;
    border-bottom: 1px solid rgb(235, 235, 235);
}

nav{
    width: 70%;
    margin: auto;
    padding: 15px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav .nav-logo h2{
    font-size: 35px;
    color: #3d3d3d;
}


nav .login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .login a{
    color: #3d3d3d;
    margin: 0px 15px;
    font-size: 18px;
}

nav .login .a-singup{
    font-weight: bold;
}

@media screen and (max-width:800px){

    nav{
        width: 100%;
        text-align: center;
        align-content: center;
    }

    nav .nav-logo{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    nav .login{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}