.container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.container .cont-form-post{
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

@media screen and (max-width:430px){
    .cont-form-post{
        width: 100%;
    }

    .cont-form-post app-postform{
        width: 100%;
    }
}