.posts{
    width: 100%;
}

.publications{
    width: 100%;
    padding: 15px;

    display: flex;
    flex-direction: column;

    /* background: rgb(239, 48, 56); */
}

.publications .post{
    padding: 10px;  
    background: #ff3143;
    /* border: 1px solid rgb(235,235,235); */
    border-radius: 3px;
    color: #fff;
}

.post .date{
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.post .date p{
    width: 100%;    
    color: #e2e2e2;
    font-size: 14px;
}
